@charset "utf-8";
/* CSS Document */
body{background: #2a3448;}
#BLOG{width: 100%;padding-top: 80px;margin-top: -80px;}
#_BLOG{width: 100%; color: #FFF;padding: 50px 0px;box-sizing: border-box;}
#_BLOG>h1{font-size: 3.5rem;padding-bottom: 20px;font-weight:normal;text-align: center;}
#_BLOG>h1>span{border-top:1px solid #FFF;}

.BLOG_1{width: 100%;margin: auto;max-width: 1200px;display: flex;flex-wrap: wrap;background: #2a3448;color: #FFF;}
.BLOG_1>div{margin: 10px;position: relative;width: 100%;box-sizing: border-box;min-width: 300px;flex: 1;}


.BLOG_a {padding-bottom: 30px;}
.BLOG_a img{width: 100%;}
.BLOG_a h1{font-size: 1.5rem;font-weight:normal;line-height: 3rem;}
.BLOG_a p{line-height: 1.5rem;padding: 5px 0px;}
.BLOG_a p>span{color:#FF8600;}
.BLOG_a p>i{opacity: 0.3;font-style: normal;}
.BLOG_a>div{position: relative;}

.BLOG_b{width: 100%;padding-bottom: 30px;}
.BLOG_b>div{background:#C0392B;padding: 15px 15px 120px 15px;box-sizing: border-box;border: 2px solid #FFF;font-size: 2rem;position: relative;}
.BLOG_b p{line-height: 2.5rem;}
.BLOG_b p>span{color:#FF8600;padding: 10px 0px;}
.BLOG_b p>i{opacity: 0.3;font-style: normal;}
.BLOG_a>div{position: relative;}

.BLOG_1_k1{position: absolute;left: 0px;bottom: 0px;background:rgba(255,212,64,0.8); padding: 7px 25px;color: #000;text-align: center;}
.BLOG_1_k1>h1{font-size: 2.5rem;font-weight:bold;}
.BLOG_1_k1 span{font-size: 1.25rem;display: block;}




